exportPattern("^[[:alpha:]]+")
import(gstat)
import(spacetime)
import(automap)
import(roxygen2)
import(sp)
import(sf)
import(sftime)

importFrom('dplyr', '%>%')
importFrom('grDevices', 'chull', 'colorRampPalette', 'dev.new')
importFrom('stats', 'as.formula', 'kmeans', 'median', 'weighted.mean')
importFrom('utils', 'modifyList', 'setTxtProgressBar', 'txtProgressBar')