exportPattern("^[[:alpha:]]+")
import(gstat)
import(spacetime)
import(automap)
import(dplyr, `%>%`)
import(roxygen2)
import(sf)
import(sp)

importFrom('grDevices', 'chull', 'colorRampPalette', 'dev.new')
importFrom('methods', 'as', 'is')
importFrom('stats', 'as.formula', 'kmeans', 'median', 'weighted.mean')
importFrom('utils', 'modifyList', 'setTxtProgressBar', 'txtProgressBar')